<div id="carouselPage" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselPage" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselPage" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselPage" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/inicio/portada1.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h3 class="text-sombra">Soluciones para alcanzar tus metas</h3>
        <p class="fs-5 text-sombra d-none d-md-block">Somos el socio estratégico que necesitas y te ayudaremos a cumplir tus objetivos.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/inicio/portada2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h3 class="text-sombra">Inventarios precisos y en línea</h3>
        <p class="fs-5 text-sombra d-none d-md-block">Resultados y reportes cuando quieras gracias a nuestro sistema automatizado.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/inicio/portada3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h3 class="text-sombra">Almacén ordenado y etiquetado</h3>
        <p class="fs-5 text-sombra d-none d-md-block">Nos encargaremos de organizar tu almacén y mejorar tu eficiencia operativa.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPage" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPage" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-4">
  <h1>Nuestros Servicios:</h1>

  <div class="row mt-3">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/inicio/portada4.jpg" class="img-fluid rounded-start" alt="...">
            <a routerLink="/servicios/inventario" routerLinkActive="active"
                        class="stretched-link" aria-current="page"></a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Gestión de Inventarios</h5>
              <p class="card-text">Realiza tu inventario con nosotros y te garantizamos la visibilidad que
                necesitas con precisión y reportes en tiempo real de los productos en tus almacenes.</p>
              <p class="card-text"><small class="text-body-secondary">¡Haz que cada artículo cuente y
                toma el control total de tu stock con nosotros!</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/inicio/portada5.jpg" class="img-fluid rounded-start" alt="...">
            <a routerLink="/servicios/logistica" routerLinkActive="active"
                        class="stretched-link" aria-current="page"></a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Gestión Logística</h5>
              <p class="card-text">Pontencia la eficiencia en tu almacén, optimiza tus operaciones,
                minimiza pérdidas y maximiza tu rentabilidad con nuestro servicio que llevará tu almacén al
                siguiente nivel.
              </p>
              <p class="card-text"><small class="text-body-secondary">Implementación de códigos de barra
                y organización.
              </small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
