<div class="img">
  <img src="../../../assets/contacto/contacto.jpg" class="img-fluid vw-100" alt="...">
  <div class="fs-1 text-superpuesto text-sombra">Contacto</div>
</div>

<div class="container mt-4">
  <h2 class="ps-3 mb-4">Datos de Contacto</h2>

  <div class="row">
    <div class="col-12 col-md-6 col-sm-6">
      <div class="row">
        <div class="col-6 col-md-8 col-sm-8 card mb-3 d-flex align-items-center mx-auto d-block">
          <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center">
              <img src="../../../assets/contacto/llamada.png" class="img-fluid rounded mx-auto d-block img-enlarge w-50"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Teléfono</h5>
                <p class="card-text">+51 999 999 999</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-8 col-sm-8 card mb-3 d-flex align-items-center mx-auto d-block">
          <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center">
              <img src="../../../assets/contacto/correo.png" class="img-fluid rounded mx-auto d-block img-enlarge w-50"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Email</h5>
                <p class="card-text">contacto@logex.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-8 col-sm-8 card mb-3 d-flex align-items-center mx-auto d-block">
          <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center">
              <img src="../../../assets/contacto/mapa.png" class="img-fluid rounded mx-auto d-block img-enlarge w-50"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Dirección</h5>
                <p class="card-text">Monthly digest of what's new and exciting from us.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-sm-6">
      <img src="../../../assets/contacto/atencion.jpg" class="img-fluid rounded-start img-enlarge" alt="...">
    </div>
  </div>

</div>
