<div class="img">
  <img src="../../../assets/nosotros/nosotros.jpg" class="img-fluid vw-100" alt="...">
  <div class="fs-1 text-superpuesto text-sombra">Quiénes somos</div>
</div>

<div class="container mt-4">
  <h2 class="ps-3">Logex Consultoría y Auditoría</h2>

  <div class="card mt-3 mb-3">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">
                  Somos una empresa que brinda servicios de inventario y consultoría en gestión logística,
                  nos adaptamos a las necesidades y requerimientos de tu empresa. </p>
                <p class="card-text">
                  Nuestro staff de profesionales cuenta con amplia experiencia en inventarios a nivel nacional
                  y consultoría de gestión logística.
                </p>
                <p class="card-text">
                  Brindamos un servicio automatizado que nos permite monitorear en tiempo real el desarrollo del
                  proyecto y brindarte toda la información en el momento que lo necesites.
                </p>
            </div>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/nosotros/inventario.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>
