.text-superpuesto {
  position: absolute;
  transform: translate(-30%, -50%);
  top: 80%;
  left: 20%;
  color: white; /* Cambia el color del texto según sea necesario */
  font-weight: bold;
}

.img-enlarge {
  transition: transform 0.3s ease-in-out;
}

.img-enlarge:hover {
  transform: scale(1.1);
}
