<div class="img">
  <img src="../../../assets/clientes/clientes.jpg" class="img-fluid vw-100" alt="...">
  <div class="fs-1 text-superpuesto text-sombra">Clientes</div>
</div>

<div class="container mt-4">
  <h2 class="ps-3 mb-4">Empresas que confían en nuestras soluciones</h2>

  <div class="row">
    <div class="col-6 col-md-2 col-sm-4 mb-4">
      <img src="../../../assets/clientes/polimetales.png" class="img-fluid rounded-start img-enlarge" alt="...">
    </div>
    <div class="col-6 col-md-2 col-sm-4 mb-4">
      <img src="../../../assets/clientes/polimetales.png" class="img-fluid rounded-start img-enlarge" alt="...">
    </div>
    <div class="col-6 col-md-2 col-sm-4 mb-4">
      <img src="../../../assets/clientes/polimetales.png" class="img-fluid rounded-start img-enlarge" alt="...">
    </div>
    <div class="col-6 col-md-2 col-sm-4 mb-4">
      <img src="../../../assets/clientes/polimetales.png" class="img-fluid rounded-start img-enlarge" alt="...">
    </div>
    <div class="col-6 col-md-2 col-sm-4 mb-4">
      <img src="../../../assets/clientes/polimetales.png" class="img-fluid rounded-start img-enlarge" alt="...">
    </div>
    <div class="col-6 col-md-2 col-sm-4 mb-4">
      <img src="../../../assets/clientes/polimetales.png" class="img-fluid rounded-start img-enlarge" alt="...">
    </div>
  </div>

</div>
