<div class="img">
  <img src="../../../assets/servicios/inventario/inventario.jpg" class="img-fluid vw-100 img-translate" alt="...">
  <div class="fs-1 text-superpuesto text-sombra">Quiénes somos</div>
</div>

<div class="container mt-4">
  <h2 class="ps-3">Inventario de Existencias</h2>

  <div class="card">
    <div class="card-body">
      <p>
        Nos especializamos en realizar inventarios periódicos y anuales para controlar el stock
        de los almacenes. Te garantizamos resultados precisos y confiables para que
        puedas contar con información real que te permita actualizar tus estados financieros.
      </p>
      <p>Nuestro talento humano está altamente calificado para cumplir todos los procedimientos
        y políticas de seguridad que sean requeridas según las zonas y superficies de trabajo.
      </p>
      <p>
        Nuestra labor destaca por implementar procedimientos de trabajo del almacén que logran
        tener una gestión eficiente, con manuales de trabajo y políticas de cumplimiento.
      </p>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-sm-6">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="../../../assets/servicios/inventario/lectura.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Lecturas de código</h5>
              <p class="card-text">
                Nuestro equipo cuenta con una amplia experiencia en el conteo de items utilizando nuestro sistema
                automatizado para la conciliación de existencias y lecuturas de códigos de barra.
              </p>
              <p class="card-text text-body-secondary fst-italic">
                <span class="fw-bold">Tu almacén no cuenta con códigos? <br></span>
                No te preocupes, nosotros te brindaremos alternativas y soluciones.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="../../../assets/servicios/inventario/resultado.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Resultados en línea</h5>
              <p class="card-text">
                Gracias a nuestro sistema automatizado podemos hacer seguimiento en línea de la ejecución y avance
                del inventario.
              </p>
              <p>
                Con nuestro servicio tendrás acceso a la información, porcentaje de avance y reportes de conciliación
                de forma rápida en cualquier momento que lo desees.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
