<div class="img">
  <img src="../../../assets/servicios/logistica/logistica.jpg" class="img-fluid vw-100 img-translate" alt="...">
  <div class="fs-1 text-superpuesto text-sombra">Quiénes somos</div>
</div>

<div class="container mt-4">
  <h2 class="ps-3">Logística de Almacenes</h2>

  <div class="card">
    <div class="card-body">
      <p class="text-body-secondary fw-bold">
        Optimiza tu cadena de suministro con nuestro servicio integral de logística de almacenes.
      </p>
      <p>Te brindaremos un servicio acorde a tus necesidades, desde el almacenamiento eficiente hasta la distribución
        puntual, nos encargamos de cada detalle para que puedas enfocarte en hacer crecer tu negocio sin
        preocupaciones logísticas.
      </p>
      <p>
        ¡Haz que tu operación sea más ágil y rentable con nuestra experiencia en gestión de almacenes!
      </p>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-sm-6">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="../../../assets/servicios/logistica/barCode.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Códigos de barra</h5>
              <p class="card-text">
                Optimiza tu eficiencia operativa con nuestra solución de implementación de códigos
                de barra y puedas tener un control preciso de tu inventario.
              </p>
              <p class="card-text">
                Hacemos que la transición a la tecnología de códigos de barras sea fácil y efectiva!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="../../../assets/servicios/logistica/organizar.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Organización de stock</h5>
              <p class="card-text">
                Con nuestro servicio de organización de stock, te brindaremos un diseño inteligente
                donde maximizamos la eficiencia, minimizamos los errores y aseguramos que cada
                artículo esté en su lugar correcto.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
